:root {
  // Base colors
  --color-black: #000;
  --color-gray: #ccc;
  --color-dark-gray: #666;
  --color-white: #fff;
  --color-peter-river: #3498db;
  --color-red: #f72f09;

  // Style Guide colors
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
  --color-highlight: var(--color-peter-river);
  --text-color: var(--color-primary);
}

[data-theme='dark'] {
  /* Variables for dark mode */
  --color-primary: var(--color-white);
  --color-secondary: var(--color-black);
  --text-color: var(--color-secondary);
}
