.recipe-form {
  display: flex;
  flex-direction: column;

  padding: 10px;

  &__form {
    max-width: 100%;

    @media screen and (min-width: 700px) {
      width: 60%;

      margin: 0 auto;
    }

    display: flex;
    flex-direction: column;

    &-submit {
      margin: var(--space-s) 0;

      font-size: var(--space-s);
    }
  }
}
