.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 var(--space-xs);

  background: var(--color-gray);

  &__navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    padding: var(--space-base) 0;
    margin: 0;

    &-item {
      padding: var(--space-xs) var(--space-s);
      margin: 0;

      &-link {
        text-decoration: none;
        color: var(--text-color);

        &:hover {
          color: var(--color-highlight);
        }
      }
    }
  }

  &__theme-toggler {
    width: 30px;
    height: 30px;

    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .header__navigation {
    max-width: var(--boxed-max-width);
  }
}
